@font-face{
  font-family: 'RobotoMono';
  src: url(./fonts/RobotoMono-Thin.ttf);
}

*{
  font-family: 'Robotomono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffff;
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219));
}